<!-- navigation menu -->
{{#link-to "admin" tagName='li'}}<a {{bind-attr href="view.href"}}><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Back to home</a>{{/link-to}}
<li class="nav-header">General</li>
{{#link-to "admin.users" tagName='li'}}<a {{bind-attr href="view.href"}}><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users </a>{{/link-to}}
{{#link-to "admin.experiments" tagName='li'}}<a {{bind-attr href="view.href"}}><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Experiment Driver</a>{{/link-to}}
{{#link-to "admin.tasksets" tagName='li'}}<a {{bind-attr href="view.href"}}><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Task Sets</a>{{/link-to}}
<li class="nav-header">Manage Content</li>
{{#link-to "admin.emailitems" tagName='li'}}<a {{bind-attr href="view.href"}}><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Emailitems</a>{{/link-to}}
{{#link-to "admin.feedlings" tagName='li'}}<a {{bind-attr href="view.href"}}><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Feedlings</a>{{/link-to}}
{{!--

{{#link-to "admin.webitems" tagName='li'}}<a {{bind-attr href="view.href"}}><i class="icon-globe"></i> Manage Web Content</a>{{/link-to}}
<li class="nav-header">Collected data <br>(trust decisions)</li>
{{#link-to "admin.emailitemsdata" tagName='li'}}<a {{bind-attr href="view.href"}}><i class="icon-envelope"></i> Email Content Data</a>{{/link-to}}
{{#link-to "admin.feedlingsdata" tagName='li'}}<a {{bind-attr href="view.href"}}><i class="icon-comment"></i> Social Content Data</a>{{/link-to}}
{{#link-to "admin.webitemsdata" tagName='li'}}<a {{bind-attr href="view.href"}}><i class="icon-globe"></i> Web Content Data</a>{{/link-to}}
<li class="nav-header">Analysis Hacks <br>(temporary)</li>
{{#link-to "admin.analysis.standardize" tagName='li'}}<a {{bind-attr href="view.href"}}><i class="icon-globe"></i> Standardize Content Names</a>{{/link-to}}
{{#link-to "admin.emailactions" tagName='li'}}<a {{bind-attr href="view.href"}}><i class="icon-envelope"></i> View email actions</a>{{/link-to}}
{{#link-to "admin.feedlingactions" tagName='li'}}<a {{bind-attr href="view.href"}}><i class="icon-comment"></i> View social actions</a>{{/link-to}}
<li class="divider"></li>
{{#link-to "admin.help" tagName='li'}}<a {{bind-attr href="view.href"}}>Help</a>{{/link-to}} --}}
